<div class="">              
    <form (ngSubmit)="fetchMovies()">
        <div class="searchInput">
            <i class="search-icon fas fa-search "></i> 
            <input [(ngModel)]="name"  type="search"   placeholder='search movies' [ngModelOptions]="{standalone: true}"/>
            
                    
        </div>
    </form>  

   
    <p>The movie Term is: {{name}}</p>    
    

        <ul *ngIf="movies">
        <li *ngFor="let movie of movies">
            <p class="name"></p>
            <p class="country"></p>
            <a class="site" href="#">site</a>
        </li>
        </ul>
</div>