<div class="container">              
    <form (ngSubmit)="getMovies()">
        <div class="searchInput">
            <i class="search-icon fas fa-search "></i> 
            <input [(ngModel)]="term"  type="search"   placeholder='search movies' [ngModelOptions]="{standalone: true}"/>
            
                    
        </div>
    </form>  
    <div class="tooltip">Hover over me
        <span class="tooltiptext">Tooltip text</span>
      </div>
      
    
        <ul *ngIf="movies">
           
            <li class="card" *ngFor="let movie of movies">
                <img class="poster" src="{{'https://www.themoviedb.org/t/p/w500'+movie.poster_path+''}} "/>
                <h4>{{movie.title}}</h4>
               <p><span class="rating"><b>Rating:</b> {{movie.vote_average}}</span></p>
                <br>
            </li>
        
        </ul>
</div>